/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #DC143C;
}

body {
  font-family: "Roboto", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Indie Flower';
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainRed);
}